@using Microsoft.AspNet.Identity
@using LexiconLMS.Models
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="@Url.Action("Index", "Manage")" title = "Manage"><span class="glyphicon glyphicon-user"></span> @User.FullName()</a>
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
   <ul class="nav navbar-nav navbar-right">
       <li>
            <a href="@Url.Action("Login", "Account")" id="loginLink"><span class="glyphicon glyphicon-user"></span> Log in</a>
       </li>
    </ul>
}
