@model LexiconLMS.Models.CourseDocumentsStudentViewModel

<h2>@Model.CourseName</h2>

<div style="word-wrap:break-word;">

    <hr />
    <dl>
        @Html.DisplayFor(model => model.CourseDescription)
    </dl>
</div>

<table class="table">
    
    @foreach (var item in Model.Documents)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "Download", new { item.Id })
            </td>
        </tr>
    }
</table>
