@model LexiconLMS.Models.Course

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div style="word-wrap:break-word;">
   
    <hr />
    <dl>
        @Html.DisplayFor(model => model.Description)
     </dl>
</div>
