@model LexiconLMS.Models.CourseDetailsViewModel

<h2>@Model.Name</h2>

<div class="col-md-10">
    <p>
        @Html.DisplayFor(model => model.Description)
    </p>
</div>

<div class="col-md-2">
    <h4>Documents</h4>
    <ul>
        @foreach (var item in Model.Documents)
        {
            <li>@Html.ActionLink(item.Name, "Download", "Documents", new {item.Id}, new {target = "_blank"})</li>
        }
    </ul>
</div>
